*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### NetBeans ###
app/nbproject/
app/build/
app/nbbuild/
app/dist/
app/nbdist/
app/nbactions.xml
app/nb-configuration.xml
app/.nb-gradle/

### Intellij IDEA ###
.idea
